@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<!--<div style="height: 175px; padding:25px; border:3px solid #D80000; border-radius:25px; width: 40%; align-self:center; display: block;  margin-left: auto;  margin-right: auto; background: #B8B8B8;">-->
<img style="display: block;  margin-left: auto;  margin-right: auto" src="http://run4delivery.com/site/images/Run4LogoMain.png" alt="Grocery Shopping Grocery Delivery Service Broward Palm Beach" height="30%" width="50%" >
<!--</div>-->

<br /><br />

<!-- ************************************************************************************** -->
<!-- -->
<!-- ************************************************************************************** -->

<center>
<div align="center" style="border:3px solid #8B8989; margin-top:20px; font-size:22px; padding:25px; border-radius:25px;  background: #FFFFFF; width: 80%;">
<center>
<p class="allertalarge" style="display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; text-align: left;">
Want to simplify your life? Let <span style="color: #D80000;"><strong>Run 4 Delivery</strong></span> be your personal shoppers.</span></p>

<p class="allertalarge" style="display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; text-align: left;"> 

Order anything from groceries to conveniences and have them brought right to your home or business.<br /><br />
<span style="color: #D80000;">Relax</span>! We do all of the work for you! Our goal is to provide excellent service! <span style="color: #D80000; opacity: 1;"></span></p>

<p class="allertalarge" style="display: block; margin-top: 1em; margin-bottom: 1em; margin-left: 0; margin-right: 0; text-align: left;">
Now Serving <strong><a href="http://run4delivery.com/site/Grocery_Delivery_Areas_Broward_Palm_Beach.html"><span style="color: #D80000;">Broward</span></strong><span style="color: #000000;"> and </span><strong><span style="color: #D80000;">Palm Beach Counties</span></a></strong>
</p>

<br />
<span class="allertalarge" ><i><strong>Tell Us.... <span style="color: #D80000;">What you want</span></strong></span><br />
<span class="allertalarge" ><i><strong>Tell Us.... <span style="color: #D80000;">Where to get it</span></strong></span><br />
<span class="allertalarge" ><i><strong>Tell Us.... <span style="color: #D80000;">When to bring it</span></strong></span><br />
</center>

</div>
<br />
        
    <div style="background-color: white; width: 100%;">
    <table style="text-align: center; background-color: white; border-spacing: 10px 20px; width:50%; margin-left:25%; margin-right:25%; border-style: dotted; color: gray;">
      <tr>
        <td ><strong><span class="allertasmallblack">Publix</span></strong></td>
        <td ><strong><span class="allertasmallblack">Whole Foods Market</span></strong></td>
        <td ><strong><span class="allertasmallblack">Walmart</span></strong></td>
      </tr>
      <tr>
        <td ><strong><span class="allertasmallblack">Winn-Dixie</span></strong></td>
        <td ><strong><span class="allertasmallblack">Costco</span></strong></td>
        <td ><strong><span class="allertasmallblack">CVS</span></strong></td>
      </tr>  
      <tr>
        <td ><strong><span class="allertasmallblack">Target</span></strong></td>
        <td ><strong><span class="allertasmallblack">The Home Depot</span></strong></td>
        <td ><strong><span class="allertasmallblack">Walgreens</span></strong></td>
      </tr>
      <tr>
        <td ><strong><span class="allertasmallblack">Lowes</span></strong></td>
        <td ><strong><span class="allertasmallblack">Fresh Market</span></strong></td>
        <td ><strong><span class="allertasmallblack">Aldi</span></strong></td>
      </tr>
    </table>
    <br />
    </div>


